apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-aubdzmqw
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-aubdzmqw:3bd6ba9122c11885f25ab63458ae17cd2a2bdebf@sha256:7bf0c741416639b79120f3258f5a87dba67ed50ce90f3af738f728396fa3e145
        name: container-image  
